<h3>Pragmatic Order Shipped</h3>
<p>
  Это сообщение уведомляет Вас, что мы отправили ваш недавний заказ:
</p>
<table>
  <tr><th colspan="2">Qty</th><th>Описание</th></tr>
<%= render @order.line_items -%>
</table>
